<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Cliente</title>
</head>
<body>
<h1>Editar Cliente</h1>
<form th:action="@{/clientes/{id}(id=${cliente.id})}" th:object="${cliente}" method="post">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" th:field="*{id}" readonly="readonly"/><br/>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/><br/>
    <label for="correo">Correo:</label>
    <input type="text" id="correo" name="correo" th:field="*{correo}"/><br/>
    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" th:field="*{telefono}"/><br/>
    <button type="submit">Guardar</button>
</form>
<a href="/clientes">Volver a la Lista</a>
</body>
</html>
