<!-- Tipo de Documento con la version-->
<!DOCTYPE html>

<!--Este es el encabezado de la pagina-->
<html lang="en">


<head>
    <!-- metadatos  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- enlace para lo iconos de google con internet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="CSS/EstilosHeader.css">

    <!-- titulo -->
    <title>Tienda Don Jose</title>

    <!-- Conectar el CSS "EstilosHeader" externo -->



</head>


<!-- Cuerpo de la pagina -->
<body>


<!-- en Cabezado de pagina -->
<header>

    <!-- Menu Principal  PAPA -->
    <div class="menu-principal">

        <!-- hijo 1 del div  -->
        <div class="logo">

            <img src="img/logo2.png" alt="LogoPrincipal">

        </div>

        <!-- hijo 2 del div -->
        <div class="menu-bar" id="menu-bar">

            <!-- hijo 2.1 -->
            <nav class="enlaces" >

                <!-- lista -->
                <ul>
                    <li><a href="/clientes">Clientes</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contactenos</a></li>
                </ul>

            </nav>


            <!-- hijo 2.2 -->
            <div class="sociales">

                <a href="#"> <span class="material-icons">facebook</span> </a>
                <a href="#"> <span class="material-icons">telegram</span> </a>
                <a href="#"> <span class="material-icons">pix</span> </a>
                <a href="#"> <span class="material-icons">duo</span> </a>

            </div>



        </div>


        <!-- Hijo 3 del div -->

        <i class="material-icons" id="btnMenuOpen" value="true">menu</i>



    </div>


</header>


<!-- sección 1 -->





<!-- Conexión con la hoja de Javascript -->
<script src="../static/CSS/Javascript/AppBonton.js"></script>







</body>


</html>